.link_icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(-45deg) scale(var(--ggs, 1));
  width: 8px;
  height: 2px;
  background: currentColor;
  border-radius: 4px;
  &::before,
  &::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 8px;
    height: 10px;
    border: 2px solid;
    top: -4px;
  }
  &::before {
    border-right: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    left: -6px;
  }
  &::after {
    border-left: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    right: -6px;
  }
}

// https://css.gg/log-in
.gg-log-in {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 6px;
  height: 16px;
  border: 2px solid;
  border-left: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-right: -10px;
}
.gg-log-in::after,
.gg-log-in::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-log-in::after {
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  width: 8px;
  height: 8px;
  left: -8px;
  bottom: 2px;
}
.gg-log-in::before {
  border-radius: 3px;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: -11px;
  bottom: 5px;
}

// https://css.gg/arrow-align-h
.gg-arrow-align-h {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 10px;
  background: linear-gradient(to left, currentColor 15px, transparent 0)
      no-repeat 2px 4px/6px 2px,
    linear-gradient(to left, currentColor 15px, transparent 0) no-repeat 12px
      4px/6px 2px,
    linear-gradient(to left, currentColor 15px, transparent 0) no-repeat
      center/2px 10px;
}
.gg-arrow-align-h::after,
.gg-arrow-align-h::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  top: 2px;
}
.gg-arrow-align-h::after {
  border-bottom: 2px solid;
  border-left: 2px solid;
  left: 1px;
}
.gg-arrow-align-h::before {
  border-top: 2px solid;
  border-right: 2px solid;
  right: 1px;
}

// https://css.gg/close-o
.gg-close-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 40px;
}
.gg-close-o::after,
.gg-close-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 12px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 3px;
}
.gg-close-o::after {
  transform: rotate(-45deg);
}

// https://css.gg/arrow-left-o
.gg-arrow-left-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 22px;
}
.gg-arrow-left-o::after,
.gg-arrow-left-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 4px;
}
.gg-arrow-left-o::after {
  width: 6px;
  height: 6px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  transform: rotate(45deg);
  bottom: 6px;
}
.gg-arrow-left-o::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: currentColor;
}

// https://css.gg/arrow-right-o
.gg-arrow-right-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid;
  transform: scale(var(--ggs, 1));
  border-radius: 20px;
}
.gg-arrow-right-o::after,
.gg-arrow-right-o::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: 4px;
}
.gg-arrow-right-o::after {
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  bottom: 6px;
}
.gg-arrow-right-o::before {
  width: 10px;
  height: 2px;
  bottom: 8px;
  background: currentColor;
}

//https://css.gg/sweden

.gg-sweden {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin-right: 6px;
  vertical-align: -1px;
  transform: scale(var(--ggs, 1));
  width: 21px;
  height: 16px;
}
.gg-sweden::after,
.gg-sweden::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  height: 6px;
  background: currentColor;
  box-shadow: 0 8px 0;
  top: 0;
}
.gg-sweden::before {
  left: 0;
  width: 7px;
}
.gg-sweden::after {
  width: 12px;
  right: 0;
}
