* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  box-sizing: border-box;
  text-size-adjust: 100%;
  font: 62.5% / 1 微軟正黑體, "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}
a {
  display: inline-block;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
  &:hover {
    color: $main_color;
  }
}
dt,
th {
  font-size: 1.8rem;
  font-weight: 700;
  @include rwd(768px) {
    font-size: 1.5rem;
  }
}
dd,
td,
li a,
p,
#nav a,
.content_text {
  line-height: 1.75;
  font-size: 1.7rem;
  @include rwd(768px) {
    font-size: 1.5rem;
  }
}
li {
  list-style: none;
  list-style-position: inside;
}
img {
  width: 100%;
  vertical-align: middle;
}
