.table_box {
  .rwd_table_icon {
    display: none;
    transform: scale(1.5);
    margin-bottom: 16px;
    margin-left: 10px;
    @include rwd(768px) {
      display: block;
    }
  }
}
.rwd_table {
  @include rwd(768px) {
    overflow-x: scroll;
  }
}
.table {
  width: 100%;
  border-collapse: collapse;
  @include rwd(768px) {
    width: 991px;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  th,
  td {
    vertical-align: middle;
    font-weight: 400;
  }
  th {
    padding: 10px 16px;
    font-weight: 600;
  }
  .num {
    width: 70px;
  }
  .pic {
    text-align: center;
    img {
      max-width: 240px;
      padding: 12px 0;
      @include rwd(991px) {
        max-width: 160px;
      }
      @include rwd(425px) {
        max-width: 120px;
      }
    }
  }
  .project_name {
    width: calc(65% - 270px);
    padding: 10px 16px;
    @include rwd(991px) {
      width: calc(65% - 190px);
    }
    @include rwd(425px) {
      width: calc(65% - 150px);
    }
    span {
      display: inline-block;
      margin-left: 16px;
    }
    .gg-log-in {
      display: inline-block;
      vertical-align: -2px;
      color: #aaa;
    }
  }
  .project_descript {
    width: 35%;
    padding: 10px 16px;
  }
  .title {
    a {
      position: relative;
      padding-right: 14px;
      &:hover {
        color: $light_main_color;
      }
      span {
        display: inline-flex;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        right: 0;
        color: $gray_color;
      }
    }
  }
  .link_list {
    padding-left: 24px;
    li {
      list-style: disc;
    }
    a {
      padding: 6px;
      display: inline-block;
      width: 100%;
      transition: color 0.3s;
      &:hover {
        color: $main_color;
      }
      @include rwd(680px) {
        padding: 2px;
      }
    }
  }
}
